@using System.Globalization
@model IEnumerable<Presentacion.Models.Factura>

@{
    ViewData["Title"] = "Facturas";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">
    <div class="d-flex flex-row-reverse">
        <a asp-action="ListaFacturas">
            Ver Lista <span class="material-icons">arrow_circle_right</span>
        </a>
    </div>
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Facturas</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center">

        <div class="row m-1">
            @*Item*@
            <label for="cboItems" class="form-label">Item</label>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="cboItems" id="cboItems">
                    @foreach (var item in ViewBag.Items)
                    {
                        <option value="@item.CodItem">@item.DescItem</option>
                    }
                </select>
            </div>
        </div>

        @*N°Factura*@
        <div class="row m-1">
            <label for="nFactura" class="form-label">N°Factura</label>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="btnAtras">
                    <span class="material-icons">arrow_back_ios</span>
                </button>
                <input type="text" class="form-control" aria-label="nFactura" value="@ViewBag.PrimerItemF.NumFactura">
                <button class="btn btn-outline-secondary" type="button" id="btnAdelante">
                    <span class="material-icons">arrow_forward_ios</span>
                </button>
            </div>
        </div>

        @*Monto*@
        <div class="row m-1">
            <label for="txtMonto" class="form-label">Monto</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" aria-label="txtMonto" value="@ViewBag.PrimerItemF.Monto">
            </div>
        </div>

        <div class="row m-1">
            @*Empresa*@
            <label for="cboEmpresa" class="form-label">Empresa</label>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="cboEmpresa" id="cboEmpresa">
                    <option value="One">One</option>
                    <option value="Two">Two</option>
                    <option value="Three">Three</option>
                </select>
            </div>
        </div>

        @section scripts {
            <script>
                //Combobox Item del primer registro
                var primerCodItem = '@ViewBag.PrimerItemP.CodItem';
                var select = document.getElementById('cmbItems');
                for (var i = 0; i < select.options.length; i++) {
                    if (select.options[i].value === primerCodItem) {
                        select.options[i].selected = true;
                    }
                }
            </script>
            <script>
                
                //Combobox Empresa del primer registro
                var primeraEmpresa = '@ViewBag.PrimerItemF.Empresa';
                var select = document.getElementById('cboEmpresa');
                for (var i = 0; i < select.options.length; i++) {
                    if (select.options[i].value === primeraEmpresa) {
                        select.options[i].selected = true;
                    }
                }
            </script>
            <script>
                //Capturar item seleccionado
                var cmbItems = document.getElementById('cmbItems');

                cmbItems.addEventListener('change', function () {
                    var itemSeleccionado = cmbItems.value;
                });
                //AQUI QUEDE. AUN NO FUNCIONA
                $.ajax({
                    url: '/Facturas/ActualizarFacturas',
                    data: { codItem: itemSeleccionado },
                    success: function (data) {
                        alert('Todo Ok');
                    }
                });
            </script>
        }

        <div class="row m-3">
            <label for="dtRecepcion">Fecha de Recepción</label>
            <input id="dtRecepcion" class="form-control" type="date" value="@String.Format("{0:yyyy/MM/dd}",ViewBag.PrimerItemCF.FechaRecepcion)" />
        </div>

        <div class="row m-3">
            <label for="dtEntrega">Fecha de Entrega</label>
            <input id="dtEntrega" class="form-control" type="date" value="@String.Format("{0:yyyy/MM/dd}",ViewBag.PrimerItemCF.FechaEntrega)" />
        </div>

        @*Mes y año contable*@
        <div class="row m-1">
            <div class="col-6">
                <label for="txtMes">Mes Contable</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="txtMes" value="@ViewBag.PrimerItemF.MesContable">
                </div>
            </div>
            <div class="col-6">
                <label for="txtAnio">Año Contable</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="txtAnio" value="@ViewBag.PrimerItemF.AnioContable">
                </div>
            </div>
        </div>

        @{
            //Cuando es SIT, separa y almacena el número
            var numSIT = "";
            if (ViewBag.PrimerItemCF.Origen.StartsWith("sit"))
            {
                var separarSIT = ViewBag.PrimerItemCF.Origen.Split("-");
                numSIT = separarSIT[1];
            }
        }
        @*SIT o Contrato*@
        <div class="row m-2">
            <p>Origen</p>
            <div class="col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rdbContratoSIT" id="rdbContrato" @(ViewBag.PrimerItemCF.Origen == "contrato" ? "checked" : "")>
                    <label class="form-check-label" for="rdbContrato">
                        Contrato
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rdbContratoSIT" id="rdbSIT" @(ViewBag.PrimerItemCF.Origen.StartsWith("sit") ? "checked" : "")>
                    <label class="form-check-label" for="rdbSIT">
                        SIT
                    </label>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="txtSIT" value="@numSIT">
                </div>
            </div>
        </div>

        @*Botones*@
        <div class="row" style="margin-top:40px">

            <div class="col-12 col-md-4">
                <div class="m-2">
                    <a asp-action="Index" asp-controller="Home">
                        <div class="d-grid gap-2">
                            <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Salir</button>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="m-2">
                   <a asp-action="Create">
                        <div class="d-grid gap-2">
                            <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Nueva</button>
                        </div>
                   </a>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="m-2">
                    <a asp-action="Edit">
                        <div class="d-grid gap-2">
                            <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Editar</button>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>

@*================ Original ===================
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCambio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCambio.Mes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodFactura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodFactura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@