@model IEnumerable<Presentacion.Models.TipoCambio>

@{
    ViewData["Title"] = "Valor USD";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Valor USD</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="card" style="width: 30rem;border-color:forestgreen">
            <div class="card-body">
                @*La acción del form es para buscar un valor a partir del mes y año ingresados EN NÚMEROS*@
                <form>
                    @*Valor*@
                    <div class="row m-1 form-group">
                        <label for="txtValor" class="form-label">Valor</label>
                        <div class="input-group mb-3">
                            <input type="text" value="@ViewBag.Mostrar.Valor" class="form-control" name="txtValor" id="txtValor">
                        </div>
                    </div>

                    @*Mes y año*@
                    @{
                        string mostrarMesAnio = $"{ViewBag.Mostrar.Anio}-{ViewBag.Mostrar.Mes.ToString("D2")}";
                    }
                    <div class="row m-1 form-group">
                        <label for="dtMesAnio" class="form-label">Año</label>
                        <div class="input-group mb-3">
                            <input type="month" value="@mostrarMesAnio" class="form-control" id="dtMesAnio" max="@ViewBag.FechaMaxima">
                        </div>
                        <span id="spanError" class="alert-danger"></span>
                    </div>

                    
                    @*Botones*@
                    <div class="row form-group" style="margin-top:40px">
                        @*Volver a inicio*@
                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <a asp-action="Index" asp-controller="Home">
                                    <div class="d-grid gap-2">
                                        <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Salir</button>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @*Actualizar valor (usa script. Ver mas abajo)*@
                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <div class="d-grid gap-2">
                                    <button id="btnActualizar" type="button" style=" background-color: forestgreen; color: white;" class="btn">Actualizar</button>
                                </div>
                            </div>
                        </div>

                        @*Nuevo valor dólar. Lleva a vista Create*@
                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <a asp-action="Create">
                                <div class="d-grid gap-2">
                                    <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Nuevo valor</button>
                                </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    @section scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var dtMesAnio = document.getElementById("dtMesAnio");

                dtMesAnio.addEventListener("change", function () {
                    var fecha = dtMesAnio.value.toString();
                    var partesFecha = fecha.split('-');
                    var mes = parseInt(partesFecha[1]);
                    var anio = parseInt(partesFecha[0]);

                    $.ajax({
                        url: '/TipoCambios/ObtenerValor',
                        type: 'POST',
                        data: { txtMes: mes, txtAnio: anio },
                        success: function (data) {
                            var txtValor = document.getElementById("txtValor");
                            if (data == "Combinación de mes y año no ingresada en la base de datos.") {
                                var span = document.getElementById("spanError");
                                span.textContent = data;
                                txtValor.value = "0";
                            } else {
                                var numeroConComa = data.valor.toString().replace(".", ",");
                                txtValor.value = numeroConComa;
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Error en la solicitud AJAX: " + error);
                        }

                    });
                        
                });
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            //Para actualizar el valor del dólar
            $(document).ready(function () {
                $('#btnActualizar').click(function () {
                    var fecha = document.getElementById("dtMesAnio").value.toString();
                    var partesFecha = fecha.split('-');
                    var mes = parseInt(partesFecha[1]);
                    var anio = parseInt(partesFecha[0]);
                    var valor = $('#txtValor').val();

                    $.ajax({
                        url: '/TipoCambios/Edit',
                        type: 'POST',
                        data: { mes: mes, anio: anio, valor: valor },
                        success: function (data) {
                            //Lanza el modal de éxito
                            $('#modalActualizacion').modal("show");
                            $('#cerrarModal').click(function () {
                                $('#modalActualizacion').modal('hide');
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Error en la solicitud AJAX: " + error);
                        }

                    });
                });
            });
        </script>
    }
    @*MODAL ACTUALIZACIÓN EXISTOSA*@
    <div class="modal" tabindex="-1" role="dialog" id="modalActualizacion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualización exitosa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>El valor del dólar se ha actualizado exitosamente.</p>
                </div>
                <div class="modal-footer">
                    <button id="cerrarModal" type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @* <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row m-1">
            <p style="font-weight:bold">Histórico</p>
        </div>
            @foreach(var item in Model)
            {
            <p>@Html.DisplayFor(modelItem => item.Mes)/@Html.DisplayFor(modelItem => item.Anio): $@Html.DisplayFor(modelItem => item.Valor) | @Html.ActionLink("Actualizar", "Edit", new { mes = item.Mes, anio = item.Anio })</p>
            }
    </div> *@

</div>

@*=========== Original ============*@
@* 
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@