@model IEnumerable<Presentacion.Models.TipoCambio>

@{
    ViewData["Title"] = "Valor USD";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Valor USD</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="card" style="width: 30rem;border-color:forestgreen">
            <div class="card-body">
                <form asp-action="Create">
                    @*Valor*@
                    <div class="row m-1 form-group">
                        <label for="txtValor" class="form-label">Valor</label>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="@ViewBag.PrimerItem.Valor" class="form-control" aria-label="txtValor">
                        </div>
                    </div>
                    @*Mes*@
                    <div class="row m-1 form-group">
                        <label for="txtMes" class="form-label">Mes</label>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="@ViewBag.PrimerItem.Mes" class="form-control" aria-label="txtMes" id="txtMes">
                        </div>
                    </div>
                    @*año*@
                    <div class="row m-1 form-group">
                        <label for="txtAnio" class="form-label">Año</label>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="@ViewBag.PrimerItem.Anio" class="form-control" aria-label="txtAnio" id="txtAnio">
                        </div>
                    </div>
                    @*Botones*@
                    <div class="row form-group" style="margin-top:40px">

                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <a asp-action="Index" asp-controller="Home">
                                    <div class="d-grid gap-2">
                                        <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Salir</button>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @* <div class="col-12 col-md-4">
                            <div class="m-2">
                                <a asp-action="Edit">
                                <div class="d-grid gap-2">
                                    <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Actualizar</button>
                                </div>
                                </a>
                            </div>
                        </div> *@

                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <a asp-action="Create">
                                <div class="d-grid gap-2">
                                    <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Nuevo valor</button>
                                </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        @*Histórico*@
        <div class="row m-1">
            <p style="font-weight:bold">Histórico</p>
        </div>
            @foreach(var item in Model)
            {
            <p>@Html.DisplayFor(modelItem => item.Mes)/@Html.DisplayFor(modelItem => item.Anio): $@Html.DisplayFor(modelItem => item.Valor) | @Html.ActionLink("Actualizar", "Edit", new { mes = item.Mes, anio = item.Anio })</p>
            }
    </div>

</div>

@*=========== Original ============*@
@* 
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@