@model Presentacion.Models.Presupuesto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioNavigation.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodItemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodItemNavigation.CodItem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodPresupuesto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
