@using System.Text.Json
@using System.Text.Json.Serialization
@using Presentacion.Controllers
@model IEnumerable<Presentacion.Models.Presupuesto>

@{
    ViewData["Title"] = "Presupuestos";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">
    <div class="d-flex flex-row-reverse">
        <a asp-action="ListaPresupuestos">
            Ver Lista <span class="material-icons">arrow_circle_right</span>
        </a>
    </div>
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Presupuestos</h3>
        </div>
    </div>

    <div class="container flex-column justify-content-center" style="width:800px">
        <form>
            <div class="row m-2">
                @*Item*@
                <div class="col-6">
                    <label for="cboItems" class="form-label">Item</label>
                    <div class="input-group mb-3">
                        <select id="cboItems" class="form-select" aria-label="cboItems">
                            <option selected>Seleccionar item</option>
                            @foreach(var item in ViewBag.Items)
                            {
                                @if (item.Estado == 1)
                                {
                                    <option value="@item.CodItem">@item.DescItem</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                @{
                    var codItem = Context.Request.Form["itemSeleccionado"];

                    var itemVB = (List<Item>)ViewBag.Items;
                    var itemSeleccionado = itemVB.FirstOrDefault(i => i.CodItem == @codItem);
                }
                @*Concepto*@
                <div class="col-6">
                    <div class="row m-4">
                    </div>
                    <div class="row">
                        @*AQUI QUEDASTE*@
                        @if (ViewBag.Concepto != null && ViewBag.Concepto.Id == itemSeleccionado.CodConcepto)
                        {
                            <p id="pConcepto">Concepto: @ViewBag.Concepto.DescConcepto</p>
                        }
                        else
                        {
                            <p id="pConcepto">Concepto: seleccione un item.</p>
                        }
                    </div>
                </div>
            </div>

            <div class="row m-2">
                @*Continuidad o Nuevo*@
                <div class="col-6">
                    <p id="pClasi">Clasificación: </p>
                </div>
                @*Gasto o inversión*@
                <div class="col-6">
                    <p id="pTipo">Tipo: </p>
                </div>
            </div>

            <div class="row m-2">
                <p id="pIPC" style="font-weight:bold">IPC año anterior: @ViewBag.Ipcs</p>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <p style="font-weight:bold">Mes</p>
                </div>
                <div class="col-3">
                    <p style="font-weight:bold">Presupuesto</p>
                </div>
                <div class="col-3">
                    <p style="font-weight:bold">Gasto real</p>
                </div>
                <div class="col-4">
                    <p style="font-weight:bold">Gasto real año pasado</p>
                </div>
            </div>

            @for (int i = 1; i < 13; i++)
            {
                <div class="row m-2">
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{i}}" id="chk+@ViewBag.Meses[i-1]">
                            <label class="form-check-label" for="chk+@ViewBag.Meses[i-1]">@ViewBag.MesesLetras[i - 1]</label>
                        </div>
                    </div>

                    @*Presupuesto mensual*@
                    <div class="col-3">
                        <input id="txtPresupuesto@(ViewBag.Meses[i - 1])" class="form-control" type="text" placeholder="Monto en USD" aria-label="txtPresupuestoMes">
                    </div>

                    @*Gasto real (acumulado)*@
                    <div class="col-3">
                        <input id="txtGastoReal@(ViewBag.Meses[i - 1])" class="form-control" type="text" aria-label="txtGastoReal" readonly>
                    </div>
                    @*Gasto real año anterior*@
                    <div class="col-4">
                        <input id="txtGastoAnterior@(ViewBag.Meses[i - 1])" class="form-control" type="text" aria-label="txtGastoAnterior" readonly>
                    </div>
                </div>
            }
            <div class="row m-2">
                <div class="col-2">
                    <p style="font-weight:bold">Anual</p>
                </div>
                @*Presupuesto Anual*@
                <div class="col-3">
                    <input id="txtAnual" class="form-control" type="text" aria-label="txtAnual" readonly>
                </div>

                @*Gasto real (acumulado)*@
                <div class="col-3">
                    <input id="txtAnualGR" class="form-control" type="text" aria-label="txtAnualGR" readonly>
                </div>
                @*Gasto real año anterior*@
                <div class="col-4">
                    <input id="txtAnualGA" class="form-control" type="text" aria-label="txtAnualGA" readonly>
                </div>
            </div>
       

            @*Botones*@
            <div class="row" style="margin-top:40px">

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <a asp-action="Index" asp-controller="Home">
                            <div class="d-grid gap-2">
                                <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Salir</button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <a asp-action="Create">
                            <div class="d-grid gap-2">
                                <button id="btnNuevo" type="button" style=" background-color: forestgreen; color: white;" class="btn">Nuevo</button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <div class="d-grid gap-2">
                            <button id="btnGrabar" type="button" style=" background-color: forestgreen; color: white;" class="btn">Grabar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>

<input type="hidden" id="itemSeleccionado" name="itemSeleccionado" value="" />

@section scripts{
    <script>
        var cboItems = document.getElementById("cboItems");

        cboItems.addEventListener("change", function () {
            var itemSeleccionado = cboItems.value;
            document.getElementById("itemSeleccionado").value = itemSeleccionado;
        });
    </script>
}


