@model IEnumerable<Presentacion.Models.Presupuesto>

@{
    ViewData["Title"] = "Resumen de Presupuestos";
}

<div class="row mb-3">
    <div class="col-8">
        <div class="row p-2">
            @*Combos*@
            <div class="col">
                <label for="cboAnio" class="form-label" style="font-weight:bold">Año</label>
                <div class="input-group mb-3">
                    <select id="cboAnio" class="form-select" aria-label="cboAnio">
                        <option selected>Todos los años</option>
                        @{
                            List<Int16?> repeticionAnio = new List<Int16?>();
                        }
                        @foreach (var presu in Model)
                        {
                            var repetido = false;
                            foreach (Int16? anio in repeticionAnio)
                            {
                                if (presu.Anio == anio)
                                {
                                    repetido = true;
                                }
                            }
                            if (repetido == false)
                            {
                                <option value="@presu.Anio">@presu.Anio</option>
                                repeticionAnio.Add(presu.Anio);
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <label for="cboMes" class="form-label" style="font-weight:bold">Mes</label>
                <div class="input-group mb-3">
                    <select id="cboMes" class="form-select" aria-label="cboMes">
                        <option selected>Todos los meses</option>
                        @{
                            List<byte?> repeticionMes = new List<byte?>();
                        }
                        @foreach (var presu in Model)
                        {
                            var repetido = false;
                            foreach (byte mes in repeticionMes)
                            {
                                if (presu.Mes == mes)
                                {
                                    repetido = true;
                                }
                            }
                            if (repetido == false)
                            {
                                <option value="@presu.Mes">@presu.Mes</option>
                                repeticionMes.Add(presu.Mes);
                            }
                        }
                    </select>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-4">
        @*Botones*@
        <div class="row ms-auto p-2">
            <div class="col">
                <div class="m-2">
                    <div class="d-grid gap-2">
                        <button id="btnExportar" type="button" style=" background-color: forestgreen; color: white;" class="btn">Exportar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="m-2">
                    <a asp-action="Index">
                        <div class="d-grid gap-2">
                            <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Volver</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container m-2" style="background-color:white">
    <div class="tabla-scroll">
        <table id="tblPresupuestos" class="table table-striped table-hover" style="overflow-x:scroll">
            <thead>
                <tr>
                    <th scope="col">Concepto</th>
                    @*función para escribir meses*@
                    <th scope="col" id="1" class="col-mes">Enero</th>
                    <th scope="col" id="2" class="col-mes">Febrero</th>
                    <th scope="col" id="3" class="col-mes">Marzo</th>
                    <th scope="col" id="4" class="col-mes">Abril</th>
                    <th scope="col" id="5" class="col-mes">Mayo</th>
                    <th scope="col" id="6" class="col-mes">Junio</th>
                    <th scope="col" id="7" class="col-mes">Julio</th>
                    <th scope="col" id="8" class="col-mes">Agosto</th>
                    <th scope="col" id="9" class="col-mes">Septiembre</th>
                    <th scope="col" id="10" class="col-mes">Octubre</th>
                    <th scope="col" id="11" class="col-mes">Noviembre</th>
                    <th scope="col" id="12" class="col-mes">Diciembre</th>
                    @*Suma de presupuestos*@
                    <th scope="col">Presupuesto anual</th>
                    @*Suma de presupuestos*@
                    <th scope="col">Gasto Real</th>
                    @*Función*@
                    <th scope="col">Diferencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var concepto in ViewBag.Conceptos){
                    <tr>
                        <td>@concepto.DescConcepto</td>
                        @{
                            var presuTotal = 0;
                        }
                        @for(var i = 1; i <= 12; i++)
                        {
                            var valor = 0;
                            @foreach(var item in ViewBag.Items)
                            {
                                if(item.CodConcepto == concepto.CodConcepto)
                                {
                                    foreach (var presupuesto in Model)
                                    {
                                        if (presupuesto.Mes == i && presupuesto.CodItem == item.CodItem)
                                        {
                                            valor += presupuesto.PresupuestoMes;
                                        }
                                    }
                                }
                                    
                            }
                            <td id="@i" class="col-mes">@valor</td>
                            presuTotal += valor;
                                
                        }
                        <td>$@presuTotal</td>
                        @{
                            var gastoTotal = 0;
                            var repetido = new List<int>();
                        }
                        @for (var i = 1; i <= 12; i++)
                        {
                            @foreach (var item in ViewBag.Items)
                            {
                                if (item.CodConcepto == concepto.CodConcepto)
                                {
                                    foreach(var control in ViewBag.Control)
                                    {
                                        foreach(var factura in ViewBag.Facturas)
                                        {
                                            foreach (var presupuesto in Model)
                                            {
                                                if (presupuesto.CodItem == item.CodItem && presupuesto.CodPresupuesto == control.CodPresupuesto && control.CodFactura == factura.CodFactura)
                                                {
                                                    if (!repetido.Contains(presupuesto.CodPresupuesto))
                                                    {
                                                        repetido.Add(presupuesto.CodPresupuesto);
                                                        foreach (var cambio in ViewBag.Cambio)
                                                        {
                                                            if (cambio.Mes == factura.MesContable && cambio.Anio == factura.AnioContable)
                                                            {
                                                                var montoUSD = factura.Monto / cambio.Valor;
                                                                gastoTotal += montoUSD;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
                                }

                            }
                        }
                        <td>$@gastoTotal</td>
                        <td>%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        var filas = document.querySelectorAll('table tr');

        for (var i = 1; i < filas.length; i++) {
            var celdas = filas[i].querySelectorAll('td');
            var presuTotal = parseFloat(celdas[13].innerText.replace(/\D/g, ''));
            var gastoTotal = parseFloat(celdas[14].innerText.replace(/\D/g, ''));

            var diferenciaPorcentual = (((gastoTotal - presuTotal) / presuTotal) * 100)+100;

            celdas[15].innerText = diferenciaPorcentual.toFixed(2) + '%';
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            OrdenarCboMes();
            OrdenarCboAnio();
        });

        function OrdenarCboMes() {
            //Ordenar select mes
            var cboMes = document.getElementById("cboMes");
            var opciones = Array.from(cboMes.options);
            // (menor a mayor)
            opciones.sort(function (a, b) {
                return a.value - b.value;
            });

            cboMes.innerHTML = "";
            opciones.forEach(function (opcion) {
                cboMes.appendChild(opcion);
            });
        }

        function OrdenarCboAnio() {
            //Ordenar select año
            var cboAnio = document.getElementById("cboAnio");
            var opciones = Array.from(cboAnio.options);

            // (menor a mayor)
            opciones.sort(function (a, b) {
                return a.value - b.value;
            });

            cboAnio.innerHTML = "";
            opciones.forEach(function (opcion) {
                cboAnio.appendChild(opcion);
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            // Filtrar por año
            $("#cboAnio").change(function () {
                var anioSeleccionado = $("#cboAnio").val();

                $(".fila-presupuesto").each(function () {
                    var presupuestoAnio = $(this).find(".columna-anio").text();

                    var mostrar = true;

                    if (anioSeleccionado != "Todos los años" && presupuestoAnio != anioSeleccionado) {
                        mostrar = false;
                    }

                    if (mostrar) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            //Filtrar por mes
            $("#cboMes").change(function () {
                var mesSeleccionado = $("#cboMes").val();

                $(".col-mes").each(function () {
                    var presupuestoMes = $(this).attr("id");
                    console.log(presupuestoMes);

                    var mostrar = true;

                    if (mesSeleccionado != "Todos los meses" && mesSeleccionado != presupuestoMes) {
                        mostrar = false;
                    }

                    if (mostrar) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>


    <script>
        //Para exportar a Excel
        $(document).ready(function () {
            $('#btnExportar').click(function () {
                guardarDatos();
            });
        });
        function guardarDatos() {
            var formulario = $('<form method="post" action="/Exportar/ExportarResumenPres"></form>');

            $('#tblPresupuestos tbody tr').each(function () {
                $(this).find('td').each(function () {
                    formulario.append($('<input type="text" name="datos" value="' + $(this).text() + '">'));
                });
            });

            $('body').append(formulario);
            formulario.submit();
            eliminarInputs();
        }

        function eliminarInputs() {
            $('form input[name="datos"]').remove();
        }

    </script>
}